.auth {
    width: 400px;
    max-width: 100%;
}

.confirm {
    background: #7BC5E8;
    border-color: darken($color: #7BC5E8, $amount: 10);
    
    color: #000;
    &:hover, &:active, &:focus {
        background: darken($color: #7BC5E8, $amount: 20);
        border-color: darken($color: #7BC5E8, $amount: 10);
    }
}