.button {
    background: #7BC5E8;
    border-color: darken($color: #7BC5E8, $amount: 10);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000;
    transition: all 0.2s ease-in ;

    &:hover, &:active, &:focus {
        background: darken($color: #7BC5E8, $amount: 20);
        border-color: darken($color: #7BC5E8, $amount: 10);
    }
}

.back {
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}